Value LOCAL_INTERFACE (\S+)
Value CHASSIS_ID (\S+)
Value CAPABILITIES (\S+)
Value REMOTE_INTERFACE (\S+)
Value SYSTEM_NAME (\S+)

Start
  ^-+\s+-+  -> LLDP

LLDP
  ^${LOCAL_INTERFACE}\s+${CHASSIS_ID}\s+${CAPABILITIES}\s+${REMOTE_INTERFACE}\s+\d+\s+${SYSTEM_NAME} -> Record